.randomPlanet {
  text-align: center;
  padding: 15px;
  border: 1px solid #033e4d;
  background-color: #033e4d;
}

.planetContainer {
  display: flex;
  text-align: start;
}

.planetImage {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  margin-right: 15px;
}

@media screen and (max-width: 480px) {
  .planetImage {
    width: 100px;
    height: 100px;
  }
}

.planetTitle {
  font-size: 20px;
}

.listGroup {
  margin: 15px 0 0 15px;
}

.listGroupItem {
  padding: 5px;
}

.itemTitle {
  margin-right: 10px;
}
