.personBox {
  text-align: center;
  padding: 15px;
  border: 1px solid #033e4d;
  background-color: #033e4d;
}

.personDetails {
  display: flex;
  text-align: start;
  flex-direction: row;
}
.image {
  width: 30%;
  height: 30%;
  border-radius: 10px;
}
.term {
  margin-right: 5px;
  color: #839496;
}
.description {
  color: #839496;
}
.noPerson {
  text-align: center;
  padding: 15px;
  background-color: #033e4d;
}
.spinner {
  text-align: center;
}
